* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body { 
    /* max-width: 1200px; */
}


header {
    width: 100%;
    /* background-color: aqua; */
    position: fixed;
    right: 0;
    left: 0;
    top: 3rem;
    z-index: 1;
    margin-top: 1;
}



.navigation-buttons nav > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.navigation-buttons nav > ul li{
    padding-left: 20px;
}


.navigation-buttons nav > ul a{
    text-decoration: none;
    color: #eaeaea;
    padding: 1.2rem;
    background-color: #333;
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    
}

.flex-end {
    justify-content: flex-end;
    }

.shoe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.bggred {
    background-color: red;
}

.bggreen {
    background-color: green;
}

/* div.bla {
    position: relative;
} */

.bgyellow {
    background-color: yellow;
}

.shoe {
    position: relative;
}

.shoe img {
    width: 50%;
    /* margin-bottom: 20px;     */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoe h1 {
    position: absolute;
    font-size: 3.1vw;
        /* margin: 1rem 0 5rem; */
    font-weight: bold;
    text-transform: uppercase;
    color: yellow;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-justify: inter-cluster;
}



.shoe .green-text {
    color: green;}